<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a
      data-testid="overview-btn"
      class="nav-link"
      routerLink="overview"
      [routerLinkActive]="['active']"
      >Overview</a
    >
  </li>
  <li class="nav-item">
    <a
      data-testid="list-btn"
      class="nav-link"
      routerLink="list"
      [routerLinkActive]="['active']"
      >List</a
    >
  </li>
  <li class="nav-item">
    <a
      data-testid="new-btn"
      class="nav-link"
      routerLink="new"
      [routerLinkActive]="['active']"
      >Add a Resource</a
    >
  </li>
</ul>
