<div
  class="btn-group"
  role="group"
  aria-label="Count By Prefs">
  <button
    (click)="setCountBy(1)"
    type="button"
    [disabled]="(by$ | async) === 1"
    class="btn btn-secondary">
    1
  </button>
  <button
    (click)="setCountBy(3)"
    type="button"
    [disabled]="(by$ | async) === 3"
    class="btn btn-secondary">
    3
  </button>
  <button
    (click)="setCountBy(5)"
    type="button"
    [disabled]="(by$ | async) === 5"
    class="btn btn-secondary">
    5
  </button>
</div>
