<div
  data-testid="count-by"
  class="btn-group"
  role="group"
  aria-label="Count By Prefs">
  <button
    data-testid="1"
    (click)="setCountBy(1)"
    type="button"
    [disabled]="(by$ | async) === 1"
    class="btn btn-secondary">
    1
  </button>
  <button
    data-testid="3"
    (click)="setCountBy(3)"
    type="button"
    [disabled]="(by$ | async) === 3"
    class="btn btn-secondary">
    3
  </button>
  <button
    data-testid="5"
    (click)="setCountBy(5)"
    type="button"
    [disabled]="(by$ | async) === 5"
    class="btn btn-secondary">
    5
  </button>
</div>
